.content {
  display: contents;
}

.mainColumn {
  margin: 1rem 0.75rem 2.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.version a:hover {
  text-decoration: underline;
}

.version a {
  color: hsl(var(--shadcn-primary));
}

.fullNodeStats {
  text-transform: lowercase;
  cursor: pointer;
  font-size: 10px;
  color: hsl(var(--shadcn-primary));
  margin-left: 5px;
}
