.content {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 0;
  align-items: start;
}

.mainColumn {
  min-width: 0;
}

.sidebarColumn {
  min-width: 0;
}

div[data-viewport-type="window"] {
  position: relative !important;
}

.loadingString {
  display: flex;
  font-size: 12px;
  padding-left: 5px;
  margin-top: 5px;
}

.noPosts {
  color: var(--red);
  font-size: 13px;
}

@media (max-width: 639px) {
  .content {
    padding: 7px 2px 0;
  }

  .sidebarColumn {
    display: none;
  }
}

@media (min-width: 640px) {
  .content {
    display: contents;
  }
}

.error {
  padding-left: 10px;
  font-size: 12px;
  padding-bottom: 10px;
}